@import "tailwindcss";

@theme {
  --text-base: 1em;
  --text-xs: 0.922275em;
  --text-sm: 0.984067em;
  --text-lg: 1.12035em;
  /* Cores */
  --color-background: hsl(210 20% 98%);
  --color-foreground: hsl(215 25% 15%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(215 25% 15%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(215 25% 15%);

  --color-primary: hsl(215 90% 45%);
  --color-primary-foreground: hsl(220 25% 98%);

  --color-secondary: hsl(215 15% 92%);
  --color-secondary-foreground: hsl(215 25% 15%);

  --color-muted: hsl(215 15% 94%);
  --color-muted-foreground: hsl(215 10% 33%);

  --color-accent: hsla(215, 90%, 45%, 0.5);
  --color-accent-foreground: hsl(0 0% 100%);

  --color-destructive: hsl(0 72% 51%);
  --color-destructive-foreground: hsl(0, 43%, 93%);

  --color-warn: hsl(38 92% 50%);
  --color-warn-foreground: hsl(215 25% 15%);

  --color-border: hsl(214 20% 88%);
  --color-input: hsl(214 20% 90%);
  --color-ring: #bfdbfe;

  /* Sombras */
  --shadow-xs: 0 1px 2px -1px rgba(0, 0, 0, 0.18);
  --shadow-sm: 0 2px 3px -1.5px rgba(0, 0, 0, 0.18);
  --shadow-md: 0 4px 6px -3px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 12px -6px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0 12px 24px -8px rgba(0, 0, 0, 0.09);

  /* Gradientes */
  --color-start: hsl(215 90% 45%);
  --color-end: hsl(220, 93%, 28%);

  /* Transições */
  --transition-base: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tema Escuro */
.dark {
  --color-background: hsl(215 28% 10%);
  --color-foreground: hsl(210 20% 95%);

  --color-card: hsl(215 25% 12%);
  --color-card-foreground: hsl(210 20% 95%);

  --color-popover: hsl(215 25% 12%);
  --color-popover-foreground: hsl(210 20% 95%);

  --color-primary: hsl(186 62% 55%);
  --color-primary-foreground: hsl(215 28% 10%);

  --color-secondary: hsl(215 20% 18%);
  --color-secondary-foreground: hsl(210 20% 95%);

  --color-muted: hsl(215 20% 16%);
  --color-muted-foreground: hsl(215 15% 40%);

  --color-accent: hsl(186 62% 55%);
  --color-accent-foreground: hsl(215 28% 10%);

  --color-destructive: hsl(0 72% 51%);
  --color-destructive-foreground: hsl(0 0% 100%);

  --color-border: hsl(215 20% 20%);
  --color-input: hsl(215 20% 18%);
  --color-ring: hsl(186 62% 55%);
}

html {
  font-size: 16px;
}

@layer base {
  * {
    @apply border-border;
  }
  div::-webkit-scrollbar-thumb {
    background: oklch(87% 0 0);
    border-radius: 6px;
  }
  div {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-200) #ffffff00; /*botão | fundo */
  }
  body {
    font-family:
      "Google Sans Flex",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
    @apply text-gray-800 bg-linear-to-br from-[#f9fafb00] to-[#f3f5f7] 
    text-[1.05000em] sm:text-[1.05938em] md:text-[1.06125em] lg:text-[1.06500em] 
    xl:text-[1.06875em] 2xl:text-[1.07250em] leading-normal;
  }

  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  p {
    @apply cursor-default;
  }
  button {
    @apply cursor-pointer capitalize;
  }
  label {
    @apply text-muted-foreground;
  }
  pre {
    font-family: "Ubuntu Mono", monospace;
    @apply cursor-default bg-background text-foreground 
    rounded-md wrap-break-word py-4 px-5 whitespace-pre-wrap
    transition-opacity duration-400 font-normal;
  }
}
